header {
    background-color: #000000;
    color: white;
  display: flex;
}
body{
  background-color:#00;
}
.escola-texto-um{
color: white;
}
.escola-texto-dois{
  color: white;
}
.estudante-titulo{
   color: white;
}
